{% extends "base.html.twig" %}
{% block body%}
  <h3 class="title_ani">
    Shopping Cart
  </h3>

<table class="prod_table" cellpadding="5">
{% for product in cart %}
  <tr>
    <td>
      <img src="https://natenasteff.com/jazz_lounge/img/{{product.image}}.jpg"
    style="width:120px;height:120px;">
    </td>
    <td>
      {{ product.title  }}
      <br>
      {{ product.artist }}
      <br>
      ${{ product.price }}
      <br>
      Quantity: {{ product.quantity }}
    </td>
    </tr>
{% endfor %}
</table>

{% endblock %}