{% extends 'base.html.twig' %}
{% set align = 'center' %}
{% block body%}
<table class="prod_table" cellpadding="5">
{% for product in pagination %}
  <tr>
    <td>
      <img src="https://natenasteff.com/jazz_lounge/img/{{product.image}}.jpg"
    style="width:120px;height:120px;">
    </td>
    <td>
      {{ product.title  }}
      <br>
      {{ product.artist }}
      <br>
      ${{ product.price }}
    </td>
    </tr>
{% endfor %}
</table>
    <br><center>{{ knp_pagination_render(pagination) }}
</div>

{% endblock %}