{% extends 'base.html.twig' %}

{% block title %}Contact us | thejazzlounge.com {% endblock %}

{% block body %}
  <h3 class="title_ani">
   Contact us
  </h3>
<div class="container" style="position: relative; width:500px; margin-left: auto; margin-right:auto;">

  <div class="row justify-content-sm-center">
    <div class="col-sm">
      <div class="card bg-light mb-3 mt-5">
        <div class="card-body">
          {{ form_start(form) }}
          <div class="form_group">
            <div class="col-sm">
              {% if user is defined %}
                {{ form_row(form.name, {'label' : 'Full Name', 'attr': {'class': 'form-control', 'value': user.getName()}}) }}
              {% else %}
                {{ form_row(form.name, {'label' : 'Full Name', 'attr': {'class': 'form-control'}}) }}
              {% endif %}
              
              
          </div>
          </div>
          <div class="form_group">
            <div class="col">
              {% if user is defined %}
                {{ form_row(form.email, {'attr': {'class': 'form-control', 'value': user.getEmail()}}) }}
              {% else %}
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
              {% endif %}
            </div>
          </div>
          <div class="form_group">
            <div class="col">
              {{ form_row(form.message, {'attr': {'class':
              'form-control'}}) }}
            </div>
          </div>
          <div class="form-group">
            <div class="col"><br>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-btn fa-user"></i> Send Message
              </button>
            </div>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock %}
