<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Delwaware Tech ITN Server Hard Drive Assignments">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="N. Nasteff">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://natenasteff.com/jazz_lounge/includes/custom2.css">
  <meta charset="UTF-8">
  <title>{% block title %}The Jazz Lounge 🎶{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>
<div class="header_custom" style="font-family: 'Muli', serif;">
  <h2>
    The 
    <font color="red">J</font><font color="blue">a</font><font color="yellow">z</font><font color="green">z</font> 
    Lounge
  </h2>
<table cellspacing="20" cellpadding="0">
  <tr>
    <td>
      <a class="links" href="{{ path("home") }}">Home</a>
    </td>
    <td>
      <a class="links" href="{{ path("browse") }}"><center>Browse<br>Albums</a>
    </td>
    <td>
      <a class="links" href="{{ path("browse") }}"><center>View<br>Cart</a>
    </td>

<td><a class="links" href="{{ path("logout") }}" title="Logout">Logout</a></td>
    <td>
    <a class="links" href="{{ path("browse") }}">Contact</a>
    </td>
  </tr>
</table>
</div>
</div>
<br><br>
<body>
<div class="body_main">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </div>
</body>
</html>
