<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Delwaware Tech ITN Server Hard Drive Assignments">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="N. Nasteff">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://natenasteff.com/jazz_lounge/includes/custom2.css">
  <meta charset="UTF-8">
  <title>{% block title %}The Jazz Lounge 🎶{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>
<div class="header_custom" style="font-family: 'Muli', serif;">
  <span style="left:0;font-size:30px;cursor:pointer;margin-left:15px;position:fixed;" onclick="openNav()">&#9776;</span>
  <h2>
    The 
    <font color="red">J</font><font color="blue">a</font><font color="yellow">z</font><font color="green">z</font> 
    Lounge
  </h2>
</div>
<body>
<br><br>
<div id="navbar" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<br>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <a href="{{ path("home") }}">Home</a>
  <a href="{{ path("browse") }}">Browse</a>
  <a href="{{ path("view_cart") }}">Cart</a>
  <a href="{{ path("logout") }}">Logout</a>
  <a href="{{ path("browse") }}">Contact</a>

{% else %}
  <a href="{{ path("home") }}">Home</a>
  <a href="{{ path("browse") }}">Browse</a>
  <a href="{{ path("login") }}">Login / Register</a>
  <a href="{{ path("browse") }}">Contact</a>

{% endif %}


</div><br>

<div id="body_main" class="body_main">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </div>
      <script>
function openNav() {
  document.getElementById("navbar").style.width = "300px"
  document.getElementById("body_main").style.opacity = "0";
}

function closeNav() {
  document.getElementById("navbar").style.width = "0";
  document.getElementById("body_main").style.opacity = "1";
}
</script>
</body>
</html>
